<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
		<title>{{ question.title }} - QA</title>
	</head>
	<body>
		<div style="text-align: right; font-weight: bold">
			{{ username }}
			<form method="POST" action="/logout/?next={{ question.get_url }}">
				<input type="submit" value="Выйти">
				{% csrf_token %}
			</form>
		</div>
		<h1>{{ question.title }}</h1>
		<p>{{ question.author.username }} ({{ question.added_at }})</p>
		<p>{{ question.text }}</p>
		<hr>
			{% if authenticated %}
				<form method="POST" action="/answer/?next={{ question.get_url }}">
					{{ answerform.as_p }}

					{% csrf_token %}
					<input type="submit" value="Ответить"/>
				</form>
			{% else %}
				<a href="/login/">Войдите</a> или <a href="/signup/">зарегистрируйтесь</a>, чтобы ответить
			{% endif %}
		<hr>
			{% for answer in answers %}
				<p><b>{{ answer.author.username }}</b> <br> {{ answer.text }} ({{ answer.added_at }})</p>
			{% endfor %}
	</body>
</html>